*{
    background-color: rgb(6, 24, 85);
    color: white;
}



.calcContainer{
    display: flex;
    flex-flow: row nowrap;
    width: 400px;
    height: 400px;
    flex: 1;
    background-color: rgb(47, 58, 107);
    border:solid 2px white;
}

.leftSide{
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
}

.numDisplay, .numDisplay p{
    display: flex;
    width: inherit;
    height:150px;
    background-color: rgb(47, 58, 107);
}

.buttonContainer{
    display: flex;
    width:inherit;
    flex: 1;
    background-color: rgb(52, 70, 153);
    gap: 10px;
}

.button{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    gap: 5px;
    background-color:rgb(52, 70, 153); 
}
.column{
    align-items: stretch;
}
.buttonContainer button{
    display: flex;
    flex:1 1 auto;
    width : 40px;
    height: 40px;
    color: whitesmoke
}

.operators{
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-between;
    flex:0.5;

    /* buttons stick to the left atm */
}

.numbers{
    flex: 2;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: stretch;
}

/* lets make the operators also stretch */
/* okay now i want to make the operators extend all the way to the top */
/* because i need more room to enter a float */