*{
    background-color: rgb(6, 24, 85);
}

.calcContainer{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    height: 400px;
    flex: 1;
    background-color: rgb(47, 58, 107);
}

.numDisplay, .numDisplay p{
    display: flex;
    width: inherit;
    height:150px;
    background-color: rgb(47, 58, 107);
}

.buttonContainer{
    display: flex;
    width:inherit;
    flex: 1;
    background-color: rgb(52, 70, 153);
    gap: 10px;
}

.button{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    gap: 5px;
}

.buttonContainer button{
    width : 80px;
    height: 80px;
    color: whitesmoke
}


/* make operator buttons go vertical */

.operators{
    flex-flow: column wrap;
    align-items: end;
    /* buttons stick to the left atm */
}

.numbers{
    flex: 2
}